<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDgRQFc6aG9SWMrDP515DAEaywj0kIlK9M</string>
	<key>GCM_SENDER_ID</key>
	<string>586990337259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.todoApp.todo</string>
	<key>PROJECT_ID</key>
	<string>todoapp-281be</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-281be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586990337259:ios:9e885b19ee93d4aecb92ae</string>
</dict>
</plist>